.header {
    background-color: rgba(28, 69, 135, 1);
    height: 5em;
    color: white;
    text-align: -webkit-center;
}


/* Box Model */

body {}

img {
    width: 8em;
    border: 3px solid rgb(2, 184, 108);
}

footer {
    height: 4em;
    background: rgba(28, 69, 135, 1);
}

.side-spam {
    display: inline-block;
    margin-bottom: 3em;
    margin-left: 3em;
}

.article-title {
    text-align: center;
    border-top: 7px;
    border-top-color: #cfe2f3;
}

.related-article-image {
    width: 10em;
    display: inline-block;
    margin-top: 0em;
}

.contents {
    text-align: -webkit-left;
    margin-left: 30em;
    display: inline-block;
    width: 25em;
}